<h3>Topics Tag Management</h3>
<p class="center_text">Tag Name | # Posts | Elegibility</p>

{{#if searchingTag}}
  <h5>Displaying all Topics that contains <b>{{topicInputText}}</b></h5>
{{else}}
  <h5>Displaying all Topics...</h5>
{{/if}}

<ul class="flex_topics_display">
  {{#each filteredTags as |tag|}}
    <li>
      <label class="flex_tags_display_name">
        {{#link-to 'topic' tag class="button_bar" }}{{capitalize tag.name}}{{/link-to}}
      </label>
      <label class="flex_tags_display_posts">{{counter-styler tag.posts_count}}
        {{#tooltip-on-element}}
          Post Counter
        {{/tooltip-on-element}}
      </label>
      <label class="flex_tags_display_eligibility">{{counter-styler tag.eligibility_counter}}
        {{#tooltip-on-element}}
          Elegibility Counter
        {{/tooltip-on-element}}
      </label>
    </li>
  {{/each}}
</ul>
{{#if noTags}}
  <h5>No results...</h5>
{{/if}}


{{#if session.isAuthenticated}}
  {{#if isBanned}}
    <p class="login_required_warning">You cannot create tags due to your reputation!</p>
  {{else}}
    {{#link-to 'topics.create' class="button_type1_normal" }}Create Topic{{/link-to}}
    {{#link-to 'posts.create' class="button_type1_normal" }}Create Post{{/link-to}}
  {{/if}}
{{else}}
  <p class="login_required_warning">Please login to create a Topic</p>
{{/if}}
