<h2>New User</h2>
<form>
  <div class="input_block_type1">
    <label class="first_label">Full Name:</label>
    <label class="input_wrapper">{{input value=fullName placeholder="Fikt Fakt"}}</label>
    <label class="second_label">{{verifyFullName}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Display Name:</label>
    <label class="input_wrapper">{{input value=displayName placeholder="Mr. Fakktion"}}</label>
    <label class="second_label">{{verifyDisplayName}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Email:</label>
    <label class="input_wrapper">{{input value=email placeholder="fakktion@fakktion.com"}}</label>
    <label class="second_label">{{verifyEmail}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Password:</label>
    <label class="input_wrapper">{{input type="password" value=password}}</label>
    <label class="second_label">{{verifyPassword}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label"> Re-enter PW:</label>
    <label class="input_wrapper">{{input type="password"  value=passwordConfirmation}}</label>
    <label class="second_label">{{verifyPasswordConfirmation}}</label>
  </div><br/>
  <div class="input_block_date">
    <label class="first_label">Date of Birth:</label>
    <label class="month_input">{{input type=number value=dateOfBirth_month placeholder="MM"}}</label>{{verifyDateOfBirth_month}}
    <label class="input_separator">/</label>
    <label class="day_input">{{input type=number value=dateOfBirth_day placeholder="DD"}}</label>{{verifyDateOfBirth_day}}
    <label class="input_separator">/</label>
    <label class="year_input">{{input type=number value=dateOfBirth_year placeholder="YYYY"}}</label>{{verifyDateOfBirth_year}}
    <label class="dob_label">{{verifyDateOfBirth}}</label>
  </div><br/>
    <div class="input_block_checkbox">
    <label class="first_label">Show full name on profile:</label>
    <label class="input_wrapper">{{input type="checkbox" checked=showFullName}}</label>
    <label class="second_label">{{verifyShowFullName}}</label>
  </div><br/>
  <div class="input_block_checkbox">
    <label class="first_label">I accept the Legal Terms:</label>
    <label class="input_wrapper">{{input type="checkbox" checked=legalTermsRead}}</label>
    <label class="second_label">{{verifyLegalTermsRead}}</label>
  </div><br/>
  <div class="input_block_checkbox">
    <label class="first_label">I accept the Privacy terms:</label>
    <label class="input_wrapper">{{input type="checkbox" checked=privacyTermsRead}}</label>
    <label class="second_label">{{verifyPrivacyTermsRead}}</label>
  </div><br/>
  <button class="button_type1_normal" {{action "create"}}>Sign Up</button>
</form>
