<h2>New Post</h2>
<form>
  <p class="tag_warning_label">Post is missing the following tags: </p>
  <div class="warning_tags">
    <div class="tag_warning_label_genre">{{verifyGenre}}</div>
    <div class="tag_warning_label_fact_type">{{verifyFactType}}</div>
    <div class="tag_warning_label_category">{{verifyCategory}}</div>
    <div class="tag_warning_label_topic">{{verifyTopic}}</div>
  </div>
  <div class="input_block_type1">
    <label class="first_label">Title:</label>
    <label class="input_wrapper">{{input value=title}}</label>
    <label class="second_label">{{verifyTitle}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Text:</label>
    <label class="input_wrapper">{{input value=text}}</label>
    <label class="second_label">{{verifyText}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fact Link:</label>
    <label class="input_wrapper">{{input value=factLink}}</label>
    <label class="second_label">{{verifyFactLink}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fiction Link:</label>
    <label class="input_wrapper">{{input value=fictionLink}}</label>
    <label class="second_label">{{verifyFictionLink}}</label>
  </div><br/>
  <button class="button_type1" {{action "create"}}>Create</button>
</form>
