<h2>New Post</h2>
<form>
  {{#if allTagsValid}}
  {{else}}
  <div class="warning_tags">
    <label class="warning_tags_desc">Post is missing the following tags: </label><br>
    {{#if verifyGenre}}<span class="genre_warning">Genre</span>{{/if}}
    {{#if verifyFactType}}<span class="fact_type_warning">Fact Type</span>{{/if}}
    {{#if verifyCategory}}<span class="category_warning">Category</span>{{/if}}
    {{#if verifyTopic}}<span class="topic_warning">Topic</span>{{/if}}
  </div>
  {{/if}}
  <div class="input_block_type1">
    <label class="first_label">Title:</label>
    <label class="input_wrapper">{{input value=title}}</label>
    <label class="second_label">{{verifyTitle}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fact Link:</label>
    <label class="input_wrapper">{{input value=factLink}}</label>
    <label class="second_label">{{verifyFactLink}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fiction Link:</label>
    <label class="input_wrapper">{{input value=fictionLink}}</label>
    <label class="second_label">{{verifyFictionLink}}</label>
  </div><br/>
  <div class="input_block_textArea">
    <div class="input_block_textArea_header">
      <div class="left_header"><strong>Post Message</strong></div>
      <div class="right_header"><strong>Preview</strong></div>
    </div>
    <div class="input_block_textArea_body">
      <div class="input_wrapper">{{textarea value=text}}</div>
      <div class="preview_wrapper">{{{text}}}</div>
    </div>
  </div><br/>
  <p><strong>{{verifyText}}</strong></p>
  <div class="input_block_textArea">
    <div class="input_block_textArea_header">
      <div class="left_header"><strong>Allowed HTML Tags</strong></div>
      <div class="right_header"><strong>Preview</strong></div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleH5_part1}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part2}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part3}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part4}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleH5}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleFontManipulation}}</div>
      <div class="preview_wrapper">{{{application.exampleFontManipulation}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleOL_part1}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part2}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part3}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part4}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleOL}}}</div>
    </div>
  </div><br/>
  <button class="button_type1_normal" {{action "create"}}>Create</button>
</form>
