<h2>New Post</h2>
<form>
  {{#if allTagsValid}}
  {{else}}
  <p class="tag_warning_label">Post is missing the following tags: </p>
  <div class="warning_tags">
    {{#if verifyGenre}}<span>Genre</span>{{/if}}
    {{#if verifyFactType}}<span>Fact Type</span>{{/if}}
    {{#if verifyCategory}}<span>Category</span>{{/if}}
    {{#if verifyTopic}}<span>Topic</span>{{/if}}
  </div>
  {{/if}}
  <div class="input_block_type1">
    <label class="first_label">Title:</label>
    <label class="input_wrapper">{{input value=title}}</label>
    <label class="second_label">{{verifyTitle}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fact Link:</label>
    <label class="input_wrapper">{{input value=factLink}}</label>
    <label class="second_label">{{verifyFactLink}}</label>
  </div><br/>
  <div class="input_block_type1">
    <label class="first_label">Fiction Link:</label>
    <label class="input_wrapper">{{input value=fictionLink}}</label>
    <label class="second_label">{{verifyFictionLink}}</label>
  </div><br/>
  <div class="input_block_textArea">
    <div class="input_block_textArea_header">
      <div class="left_header"><strong>Post Message</strong></div>
      <div class="right_header"><strong>Preview</strong></div>
    </div>
    <div class="input_block_textArea_body">
      <div class="input_wrapper">{{textarea value=text}}</div>
      <div class="preview_wrapper">{{{text}}}</div>
    </div>
  </div><br/>
  <button class="button_type1_normal" {{action "create"}}>Create</button>
</form>
