<h2>Edit <b>{{model.name}}</b> Fact Type</h2>
<form>
  <div class="input_block_type1">
    <label class="first_label">Name:</label>
    <label class="input_wrapper">{{input value=model.name}}</label>
    <label class="second_label">{{verifyFactTypeName}}</label>
  </div>
  <br/>
</form>
{{#if session.isAuthenticated}}
  {{#if sessionAccount.user.is_admin}}
    <button class="button_type1" {{action "update"}}>Update Admin Message</button>
  {{else}}
    <label class="login_required_warning">Only Admins can edit</label>
  {{/if}}
{{/if}}
