<h2>New Fact Type</h2>

<form>
  <div class="input_block_tags">
    <label class="first_label">Name:</label>
    <label class="input_wrapper">{{input value=name}}</label>
    <label class="second_label">{{verifyFactTypeName}}</label>
  </div><br/>
  {{#if session.isAuthenticated}}
    {{#if isBanned}}
      <p class="login_required_warning">You cannot create tags due to your reputation!</p>
    {{else}}
      <button class="button_type1_normal" {{action "create"}}>Create Fact Type</button>
    {{/if}}
  {{else}}
    <p class="login_required_warning">Please login to create a Fact Type</p>
  {{/if}}
</form>
