<%= form_for(@user) do |f| %>
  <fieldset>
    <legend>Registration</legend>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>
    
    <div>
      <%= f.label :display_name %>
      <%= f.text_field :display_name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth %>
    </div>

    <div>
      <%= f.label :gender %>
      <%= f.select :gender, User.genders.keys.to_a %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div>
      <%= f.label "I agree with the"%>
      <%= link_to "privacy terms", privacy_info_path, :target => "_blank"%>
      <%= f.check_box :privacy_terms_read%>
    </div>

    <div>
      <%= f.label "I agree with the Legal Terms"%>
      <%= link_to "legal terms", legal_info_path, :target => "_blank"%>
      <%= f.check_box :legal_terms_read%>
    </div>
        
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
