<div class="sidebar_sub">
	<div class="tag_header">
		<h5>Categories</h5>
		<div class="management_link">{{#link-to "categories.index" id='categoryManagementTootip'}}<img width="23px" height="23px" src="/assets/small_settings.png">{{/link-to}}</div>
		{{#tooltip-on-component target='#categoryManagementTootip'}}Manage Categories.{{/tooltip-on-component}}
	</div>
	{{#if showCP}}
		<ul class="tag_listing">
			<li class="tag_listing_search">
				{{input value=categoryInputText placeholder="Search Category" class="categoryInput" id='categoryInputTextTootip'}}
				{{#tooltip-on-component event='click' target='#categoryInputTextTootip'}}
					Search all existing Categories with "{{categoryInputText}}".
				{{/tooltip-on-component}}
			</li>
			{{#each filteredCategories as |category|}}
				<li><button class="button_type1_category" {{action "setCategory" category}}><div class="tag_selection_container"><label class="tag_name">{{capitalize category.name}}</label><label class="tag_posts"> {{counter-styler category.posts_count}}</label></div></button></li>
			{{/each}}
		</ul>
	{{#if noCategories}}<div class="tag_no_result_category">No Results</div>{{/if}}
	{{/if}}
	<div class="button_toggler"><button class="button_bar" {{action "setCPV"}}>{{#if showCP}}Hide{{else}}Show{{/if}}</button></div>
</div>
