<div class="sidebar_sub">
	<div class="tag_header">
		<h5>Genres</h5>
		<div class="management_link">{{#link-to "genres.index" id='genreManagementTootip'}}<img src="/assets/small_settings.png">{{/link-to}}</div>
		{{#tooltip-on-component target='#genreManagementTootip'}}Manage Genres.{{/tooltip-on-component}}
	</div>
	{{#if showGP}}
		<ul class="tag_listing">
			<li class="tag_listing_search">{{input value=genreInputText placeholder="Search Genre" class="genreInput" id='genreInputTextTootip'}}
				{{#tooltip-on-component event='click' target='#genreInputTextTootip'}}
					Search all existing Genres with "{{genreInputText}}".
				{{/tooltip-on-component}}
			</li>
			{{#each filteredGenres as |genre|}}
				<li><button class="button_type1_genre" {{action "setGenre" genre}}>{{capitalize genre.name}}</button><label class="tag_posts">{{counter-styler genre.posts_count}}</label></li>
			{{/each}}
		</ul>
	{{#if noGenres}}<div class="tag_no_result_genre">No Results</div>{{/if}}
	{{/if}}
	<div class="button_toggler"><button class="button_bar" {{action "setGPV"}}>{{#if showGP}}Hide{{else}}Show{{/if}}</button></div>
</div>
