<header>
	{{partial 'header'}}
</header>
<main class="ember_application">
	<div class="left_sidebar">
		<div class="genres_div">
			<h5>Genres</h5>
			{{partial 'genres'}}
		</div>
		<div class="categories_div">
			{{partial 'categories'}}
		</div>
	</div>
	<div class="central">
		<div class="central_panel">
		{{partial 'central-panel'}}
		</div>
		<div class="shared_panel">
		{{outlet}}
		</div>
	</div>
	<div class="right_sidebar">
		<div class="fact_types_div">
			<h5>Fact Types</h5>
			{{partial 'fact-types'}}
		</div>
		<div class="fact_posting_dates_div">
		<h5>Post Date</h5>
		{{partial 'posting-dates'}}
		</div>
	</div>
</main>
<footer>
	{{partial 'footer'}}
</footer>
