<header>
	{{partial 'header'}}
</header>
<main>
	{{#if displaySidebars}}
		<div class="left_sidebar">
			<div class="genres_div">
				{{partial 'genres-partial'}}
			</div>
			<div class="categories_div">
			{{partial 'categories-partial'}}
			</div>
		</div>
	{{else}}
	
	{{/if}}
	{{#if displayCentralPanel}}
		<div class="central">
			<div class="central_panel">
				{{partial 'central-panel'}}
			</div>
			<div class="shared_panel">
				{{outlet}}
			</div>
		</div>
	{{else}}
		<div class="body_panel">
			{{outlet}}
		</div>
	{{/if}}
	
	{{#if displaySidebars}}
		<div class="right_sidebar">
			<div class="fact_types_div">
				{{partial 'fact-types-partial'}}
			</div>
			<div class="fact_posting_dates_div">
			{{partial 'posting-dates-partial'}}
			</div>
		</div>
	{{else}}
	
	{{/if}}
</main>
<footer>
	{{partial 'footer'}}
</footer>
