<div id="app_container">
  <header>
    {{partial 'header'}}
  </header>
  <main>
    <div class="left_sidebar">
    	<h4>Fiction</h4>
      {{#if isCategorySelected}}
        {{partial 'left-sidebar/selected-category-partial'}}
        {{#if isTopicSelected}}
          {{partial 'left-sidebar/selected-topic-partial'}}
        {{else}}
          {{partial 'left-sidebar/topics-partial'}}
        {{/if}}
      {{else}}
        {{partial 'left-sidebar/categories-partial'}}
      {{/if}}
    </div>
    <div class="shared_panel">
      {{outlet}}
    </div>
    <div class="right_sidebar">
    	<h4>Fact</h4>
      {{#if isFactTypeSelected}}
        {{partial 'right-sidebar/selected-fact-type-partial'}}
        {{#if isPostingDateSelected}}
          {{partial 'right-sidebar/selected-posting-date-partial'}}
        {{else}}
          {{partial 'right-sidebar/posting-dates-partial'}}
        {{/if}}
      {{else}}
        {{partial 'right-sidebar/fact-types-partial'}}
      {{/if}}
    </div>
  </main>
  <footer>
    {{partial 'footer'}}
  </footer>
  {{server422Watcher}}
</div>
{{defaultCategories}}
