{{#if displayCP}}
	<div class="categories_div">
		<h5>Categories <button class="button_type2" {{action "setCPV" false}}>Hide</button></h5>
		<ul class="tag_listing">
			{{#each model.categories as |category|}}
				<li><button class="button_type1" {{action "setCID" category}}>{{category.name}}</button></li>
			{{/each}}
		</ul>
	</div>
{{else}}
	<div class="tag_listing_hidden">
		<h5>Categories <button class="button_type2" {{action "setCPV" true}}>Show</button></h5>
		</div>
{{/if}}
