<div class="central_upper_panel">
	<div class="genre_tagging">
		{{#if isGenreSelected}}
			<button class="button_type2_tag_genre" {{action "clearGenre"}}>{{capitalize selectedGN}}</button>
		{{else}}
			Genre
		{{/if}}
	</div>
	<div class="fact_type_tagging">
		{{#if isFactTypeSelected}}
			<button class="button_type2_tag_fact_Type" {{action "clearFactType"}}>{{capitalize selectedFTN}}</button>
		{{else}}
			Fact Type
		{{/if}}
	</div>
	<div class="category_tagging">
		{{#if isCategorySelected}}
			<button class="button_type2_tag_category" {{action "clearCategory"}}>{{capitalize selectedCN}}</button>
		{{else}}
			Category
		{{/if}}
	</div>
	<div class="post_date_tagging">
		{{#if isPostDateSelected}}
			<button class="button_type2_tag_post_Date" {{action "clearPostDate"}}>{{selectedPDN}}</button>
		{{else}}
			Post Date
		{{/if}}
	</div>
</div>
<div class="central_lower_panel">
	<div class="topic_search">
		{{#if isTopicSelected}}
			{{input class="topic_search_text" placeholder=topicInputText disabled="true"}}
			<div class="topic_search_input">
				<button class="button_type2_large" {{action "clearTopic"}}>Clear</button>		
			</div>
		{{else}}
			{{input class="topic_search_text" value=topicInputText placeholder="Topic"}}
			<div class="topic_search_input">
				<button class="button_type2_large" {{action "setTID"}}>Search</button>		
			</div>
		{{/if}}
	</div>
	<div class="topic_tagging">
		<label>{{topicStatus}}</label>
	</div>
	<div class="topic_tagging_settings">
		{{#link-to "topics.index"}}<img width="23px" height="23px" src="/assets/small_settings.png">{{/link-to}}
	</div>
</div>
