{{#if displayGP}}
	<div class="genres_div">
		<h5>Genres <button class="button_type2" {{action "setGPV" false}}>Hide</button></h5>
		<ul class="tag_listing">
			{{#each model.genres as |genre|}}
				<li><button class="button_type1" {{action "setGID" genre}}>{{genre.name}}</button></li>
			{{/each}}
		</ul>
	</div>
{{else}}
	<div class="tag_listing_hidden">
		<h5>Genres <button class="button_type2" {{action "setGPV" true}}>Show</button></h5>
		</div>
{{/if}}
