<h4 class="frontend_index"><strong>DO NOT USE PERSONAL INFORMATION!</strong></h4>
<p class="frontend_index">SSL has not been yet activated since Fakktion is still on experimentals.</p>
<p>v0.7 is now available! User.index (profile), post.index, and more things that
needs to be done/improved. More details on Issue #22.</p>
<div class="posts_info">
	<ul>
		<li>
			<label class="label_title_header"><strong>Showing {{filteredPosts.length}} Posts</strong></label>
			<label class="label_views_header"><img height="15px" src="/assets/views.svg"></label>
			<label class="label_comments_count_header"><img height="15px" src="/assets/comments.png"></label>
		</li>
		{{#each filteredPosts as |post|}}
		<li>
			<label class="label_title">
				{{#link-to 'post' post}}{{capitalize post.title}}{{/link-to}}
			</label>
			<label class="label_views">
				{{counter-styler post.views_count}}
			</label>
			<label class="label_comments_count">
				{{counter-styler post.comments_count}}
			</label>
		</li>
		{{/each}}
	</ul>
				{{#if session.isAuthenticated}}
					{{#link-to  'posts.create' class="button_type1_normal"}}Create Post{{/link-to}}
				{{else}}
					<p class="login_required_warning">Please login to create a post</p>
				{{/if}}
</div>

{{outlet}}
