<p class="frontend_index"><strong>DO NOT USE PERSONAL INFORMATION!</strong></p>
<p>SSL has not been yet activated since Fakktion is still on experimentals.</p>

<label class="label_forum_info">{{#link-to 'adminMessages'}}Check Admin Messages{{/link-to}}</label><br/>
<label class="label_forum_info">V: Views | C: Comments</label>
<div class="posts_info">
	<ul>
		{{#each filteredPosts as |post|}}
		<li>
			<label class="label_title">
				{{#link-to 'post' post}}{{capitalize post.title}}{{/link-to}}
			</label>
			<label class="label_views">
				V:{{post.views_count}}
			</label>
			<label class="label_comments_count">
				C:{{post.comments_count}}
			</label>
		</li>
		{{/each}}
	</ul>
</div>

{{#if session.isAuthenticated}}
	<p class="inner_info_redux">{{#link-to  'posts.create'}}Create Post{{/link-to}}</p>
{{else}}
	<p>Please login to create a post</p>
{{/if}}

{{outlet}}
