<div class="comment_voting">
  {{#if upvoteEnabled}}
    <div class="comment_voting_upper">
      <button class="button_bar_upvote" {{action "castVote" true}}></button>
    </div>
  {{else}}
    <div class="comment_voting_upper">
      <button class="button_bar_disabled" {{action "castVote" true}} disabled=true></button>
    </div>
  {{/if}}
  <div class="comment_voting_middle">
    {{counter-styler model.empathy_level}}
  </div>
  {{#if downvoteEnabled}}
    <div class="comment_voting_lower">
      <button class="button_bar_downvote" {{action "castVote" false}}></button>
    </div>
  {{else}}
    <div class="comment_voting_lower">
      <button class="button_bar_disabled" {{action "castVote" false}} disabled=true></button>
    </div>
  {{/if}}
</div>
<div class="comment_text">
  {{{model.text}}}
</div>
<div class="comment_user">
  {{#if model.user.is_super_user}}
    <div class="comment_user_name_super_user">
      {{capitalize model.user.display_name}}
    </div>
  {{else if model.user.is_admin}}
    <div class="comment_user_name_admin">
      {{capitalize model.user.display_name}}
    </div>
  {{else if model.user.is_legend}}
    <div class="comment_user_name_legend">
      {{capitalize model.user.display_name}}
    </div>
  {{else}}
    <div class="comment_user_name">
      {{capitalize model.user.display_name}}
    </div>
  {{/if}}
  <div class="comment_user_edit">
    <button class="button_bar_edit" {{action "ToggleEditMode"}}>Edit</button>
  </div>
</div>
