<div class="input_block_comment">
  <div class="upper_input_wrapper">
    <div class="comment_input_header">
      <div class="left_header"><strong>Update Comment</strong></div>
      <div class="right_header">
        <button class="button_bar" {{action "ToggleEditMode"}}>Cancel Edit</button>
        <strong>Preview</strong>
      </div>
    </div>
    <div class="comment_input_body">
      <div class="input_wrapper">{{textarea value=model.text}}</div>
      <div class="preview_wrapper">{{{model.text}}}</div>
    </div>
  </div>
  <div class="lower_input_wrapper">
    <div class="feedback_wrapper">
      <label>{{verifyText}}</label>
    </div>
    <div class="create_button_wrapper">
      {{#if validComment}}
        <button class="button_bar_create" {{action "update"}}>Update Comment</button>
      {{/if}}
    </div>
  </div>
</div>

<div class="input_block_textArea">
  <div class="input_block_textArea_header">
    <div class="left_header"><strong>Allowed HTML Tags</strong></div>
    <div class="right_header"><strong>Preview</strong></div>
  </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleH5_part1}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part2}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part3}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part4}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleH5}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleFontManipulation}}</div>
      <div class="preview_wrapper">{{{application.exampleFontManipulation}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleOL_part1}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part2}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part3}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part4}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleOL}}}</div>
    </div>
</div><br/>
