{{votingSystemHandler}}
{{#if session.isAuthenticated}}
  {{#if upvoteEnabled}}
    <button class="button_type1_normal" {{action "upvote"}}>+1</button>
  {{else}}
    <label class="test_class">Nope</label>
  {{/if}}
  {{model.empathy_level}}
  {{#if downvoteEnabled}}
    <button class="button_type1_normal" {{action "downvote"}}>-1</button>
  {{else}}
    <label class="test_class">Nope</label>
  {{/if}}
  {{#if canEdit}}
    {{#if editMode}}
      <div class="input_block_comment">
      <label class="input_wrapper">{{input value=model.text}}</label>
      <div class="feedback_wrapper">
      {{#if validComment}}
      <button class="button_type1_smallest" {{action "update"}}>Edit Comment</button>
      {{else}}
      <label>{{verifyText}}</label>
      {{/if}}
      </div>
      </div>
      <button class="button_type1_smallest" {{action "ToggleEditMode"}}>Cancel Edit</button>
    {{else}}
      {{model.text}}<button class="button_type1_smallest" {{action "ToggleEditMode"}}>Edit</button>
    {{/if}}
  {{else}}
    {{model.text}}
    {{capitalize model.user.display_name}}
  {{/if}}
{{else}}
  {{model.empathy_level}}
  {{model.text}}
  {{capitalize model.user.display_name}}
{{/if}}
{{render "post.comment.innerComments.index" model}}
