{{votingSystemHandler}}
<div class="comment_upper">
  {{#if session.isAuthenticated}}
    {{#if canEdit}}
      {{#if editMode}}
        {{partial 'post/comment/edit-mode-partial'}}
      {{else}}
        {{partial 'post/comment/can-edit-mode-partial'}}
      {{/if}}
    {{else}}
      {{partial 'post/comment/view-mode-partial'}}
    {{/if}}
  {{else}}
    {{partial 'post/comment/guest-mode-partial'}}
  {{/if}}
</div>
{{render "post.comment.innerComments.index" model}}
