<h2><b>Category Info</b></h2>
<p>Category Name: <b>{{capitalize model.name}} </b></p>
<p>Number of Posts using this tag: <b>{{counter-styler model.posts_count}}</b></p>
<p>Eligibility counter for this tag: <b>{{counter-styler model.eligibility_counter}}</b></p>
{{#if session.isAuthenticated}}
  {{#if sessionAccount.user.is_admin}}
    <p class="center_text">{{#link-to 'category.edit' class="button_type1_normal"}}Edit Category{{/link-to}}</p>
  {{else}}
      <label class="login_required_warning">Only Admins can edit</label>
  {{/if}}
{{else}}
  <label class="login_required_warning">Please login</label>
{{/if}}
<hr>
<h4><b>Posts with this tag</b></h4>

<ol class="tag_posts">
    {{#each model.posts as |post|}}
      <li>{{#link-to 'post' post class="button_bar"}}{{capitalize post.title}}{{/link-to}}</li>
    {{/each}}
</ol>
