<h2><b>{{model.name}} Genre</b></h2>
<p>Number of Posts using this tag: <b>{{model.posts_count}}</b></p>
{{#if session.isAuthenticated}}
	{{#if sessionAccount.user.is_admin}}
		<p>{{#link-to 'genre.edit' }}Edit Genre{{/link-to}}</p>
	{{else}}
		{{#if sessionAccount.user.is_super_user}}
			<p>{{#link-to 'genre.edit' }}Edit Genre{{/link-to}}</p>
		{{else}}
			<label class="second_label">Only Admins can edit</label>
		{{/if}}
	{{/if}}
{{else}}
	<label class="second_label">Please Login</label>
{{/if}}
