<footer>
      <ul>
          <li>
            <%= link_to legal_info_path, title: "Legal Information" do%>
              <span>Legal Info</span>
            <% end %>
          </li>
          <li>
            <%= link_to privacy_info_path, title: "Privacy Information" do%>
              <span>Privacy Info</span>
            <% end %>
          </li>
          <li>
            <%= link_to about_path, title: "About" do%>
              <span>About</span>
            <% end %>
          </li>
          <li>
            <%= link_to support_path, title: "Contact Us!" do%>
              <span>Contact Us</span>
            <% end %>
          </li>
          <li>
            <%= link_to code_sample_path, title: "Code Sample" do%>
              <span>Code Sample</span>
            <% end %>
          </li>
      </ul>
    </nav>
 </div>
</footer>
