<header>
  <div class="outer-container">
    <div class="branding">
      <%= link_to root_path do %>
        <%= image_tag"UltraSmall_fakktionlogo.png" %>
      <% end %>
    </div>
    <nav>
      <ul>
        <% if current_user %>
          <li>
            <%= link_to profile_path(current_user), title: "Account Settings" do %>
              <span>Profile</span>
            <% end %>
          </li>
          <li>
          <li class="destroy-session <%= current_page?(destroy_user_session_path) ? "active" : "" %>">
            <%= link_to "Sign Out", destroy_user_session_path %>
          </li>
          </li>
        <% else %>
          <li class="new-registration <%= current_page?(new_user_registration_path) ? "active" : "" %>">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li class="new-session <%= current_page?(new_user_session_path) ? "active" : "" %>">
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
