<div class="input_block_inner_comment_create">
  <div class="upper_input_wrapper">
    <label class="input_wrapper">{{input value=text placeholder="Add Inner Comment"}}</label>
    <div class="feedback_wrapper">
      {{#if validComment}}
        <button class="button_bar_create" {{action "create"}}>Add Inner
          <br>Comment</button>
      {{else}}
        <label>{{verifyText}}</label>
      {{/if}}
    </div>
  </div>
  {{#if anyInput}}
    <div class="lower_input_wrapper">
      <label>{{verifyText}}</label>
    </div>
    <div class="lower_warning_wrapper">
      <div class="small_warning">Inner Comments does not allow HTML tags.</div>
    </div>
  {{/if}}
</div>
