<h2>Update Post</h2>
<form>
  <div class="input_block_type1">
    <label class="first_label">Title:</label>
    <label class="input_wrapper">{{input value=model.title}}</label>
    <label class="second_label">{{verifyTitle}}</label>
  </div>
  <br/>
  <div class="input_block_type1">
    <label class="first_label">Fact Link:</label>
    <label class="input_wrapper">{{input value=model.fact_link}}</label>
    <label class="second_label">{{verifyFactLink}}</label>
  </div>
  <br/>
  <div class="input_block_type1">
    <label class="first_label">Fiction Link:</label>
    <label class="input_wrapper">{{input value=model.fiction_link}}</label>
    <label class="second_label">{{verifyFictionLink}}</label>
  </div>
  <br/>
  <div class="input_block_type1">
    <label class="first_label">Fact Type:</label>
    <label class="input_wrapper">{{input value=model.fact_type.name disabled=true}}</label>
  </div>
  <br/>
  <div class="input_block_type1">
    <label class="first_label">Category:</label>
    <label class="input_wrapper">{{input value=model.category.name disabled=true}}</label>
  </div>
  <br/>
  <div class="input_block_type1">
    <label class="first_label">Topic:</label>
    <label class="input_wrapper">{{input value=model.topic.name disabled=true}}</label>
  </div>
  <br/>

  {{#if changeTags}}
    <div class="input_block_typeLogin">
      <label class="first_label">
        <button class="button_type1_normal" {{action "setChangeTags" false}}>Cancel Tags Update</button>
      </label>
    </div>
    <br/>
    <div class="input_block_type1">
      <label class="first_label">New Fact Type:</label>
      <label class="input_wrapper">{{input value=nextFactTypeName disabled=true}}</label>
      <label class="second_label">{{verifyFactType}}</label>
    </div>
    <br/>
    <div class="input_block_type1">
      <label class="first_label">New Category:</label>
      <label class="input_wrapper">{{input value=nextCategoryName disabled=true}}</label>
      <label class="second_label">{{verifyCategory}}</label>
    </div>
    <br/>
    <div class="input_block_type1">
      <label class="first_label">New Topic:</label>
      <label class="input_wrapper">{{input value=nextTopicName disabled=true}}</label>
      <label class="second_label">{{verifyTopic}}</label>
    </div>
    <br/>
  {{else}}
    <div class="input_block_typeLogin">
      <label class="first_label">
        <button class="button_type1_normal" {{action "setChangeTags" true}}>Update tags</button>
      </label>
    </div>
    <br/>
  {{/if}}
  <div class="input_block_textArea">
    <div class="input_block_textArea_header">
      <div class="left_header"><strong>Post Message</strong></div>
      <div class="right_header"><strong>Preview</strong></div>
    </div>
    <div class="input_block_textArea_body">
      <div class="input_wrapper">{{textarea value=model.text}}</div>
      <div class="preview_wrapper">{{{model.text}}}</div>
    </div>
  </div>
  <p><strong>{{verifyText}}</strong></p>
  <div class="edit_main_controls">
    {{#if isBanned}}
      <p class="login_required_warning">You cannot edit the post due to your reputation!</p>
    {{else}}
      <button class="button_type1_normal" {{action "update"}}>Update Post</button>
    {{/if}}
    <button class="button_type1_normal" {{action "cancelChanges"}}>Cancel Changes</button>
  </div>
  <div class="input_block_textArea">
    <div class="input_block_textArea_header">
      <div class="left_header"><strong>Allowed HTML Tags</strong></div>
      <div class="right_header"><strong>Preview</strong></div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleH5_part1}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part2}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part3}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part4}}{{{application.exampleLineBreaker}}}{{application.exampleH5_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleH5}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleFontManipulation_part1}}{{{application.exampleLineBreaker}}}{{application.exampleFontManipulation_part2}}</div>
      <div class="preview_wrapper">{{{application.exampleFontManipulation}}}</div>
    </div>
    <div class="input_block_textArea_example">
      <div class="input_wrapper">{{application.exampleOL_part1}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part2}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part3}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part4}}{{{application.exampleLineBreaker}}}{{application.exampleOL_part5}}</div>
      <div class="preview_wrapper">{{{application.exampleOL}}}</div>
    </div>
    <label><b>Any given &lt;a&gt; tag must use target="blank" and contain http:// on its href!</b></label>
  </div>
  <br/>
</form>
