<div class="post_title_container">
  <div class="title_info">
    <h5>{{capitalize model.title}}</h5>
  </div>
</div>

<div class="post_buttons_container">
  {{#if expandTags}}
    <div class="tags_info_button">
      <label class="first_label"><button class="button_type1_normal" {{action "setExpandTags" false}}>Hide Tags</button></label>
    </div>
  {{else}}
    <div class="tags_info_button">
      <label class="first_label"><button class="button_type1_normal" {{action "setExpandTags" true}}>Show Tags</button></label>
    </div>
  {{/if}}
  {{#if expandInfo}}
    <div class="more_info_button">
      <label class="first_label"><button class="button_type1_normal" {{action "setExpandInfo" false}}>Hide More Info</button></label>
    </div>
  {{else}}
    <div class="more_info_button">
      <label class="first_label"><button class="button_type1_normal" {{action "setExpandInfo" true}}>Show More Info</button></label>
    </div>
  {{/if}}
  {{#if canEdit}}
    <div class="edit_button">
      {{#link-to 'post.edit' class="button_type1_normal"}}Edit Post{{/link-to}}
    </div>
  {{else}}
    {{#if model.user.is_super_user}}
      <div class="edit_button">
        {{#link-to 'user.index' model.user class="button_type1_normal_super_user"}}{{capitalize model.user.display_name}}{{/link-to}}
      </div>
    {{else if model.user.is_admin}}
      <div class="edit_button">
        {{#link-to 'user.index' model.user class="button_type1_normal_admin"}}{{capitalize model.user.display_name}}{{/link-to}}
      </div>
    {{else if model.user.is_legend}}
      <div class="edit_button">
        {{#link-to 'user.index' model.user class="button_type1_normal_legend"}}{{capitalize model.user.display_name}}{{/link-to}}
      </div>
    {{else}}
      <div class="edit_button">
        {{#link-to 'user.index' model.user class="button_type1_normal"}}{{capitalize model.user.display_name}}{{/link-to}}
      </div>
    {{/if}}
  {{/if}}
</div>

{{#if expandTags}}
  <div class="post_tags_container">
    <div class="genre_topic_container">
      <div class="genre_info_container">
        <label class="first_label">Genre: {{capitalize model.genre.name}}</label>
      </div>
      <div class="topic_info_container">
        <label class="first_label">Topic: {{capitalize model.topic.name}}</label>
      </div>
    </div>
    <div class="fact_type_created_on_container">
      <div class="fact_Type_info_container">
        <label class="first_label">Fact Type: {{capitalize model.fact_type.name}}</label>
      </div>
      <div class="created_on_info_container">
        <label class="first_label">Category: {{capitalize model.category.name}}</label>
      </div>
    </div>
  </div>
{{/if}}

{{#if expandInfo}}
  <div class="post_more_info_container">
    <div class="genre_topic_container">
    <div class="fact_type_created_on_container">
      <div class="fact_Type_info_container">
        <label class="first_label">{{counter-styler model.comments_count}} Comments</label>
      </div>
      <div class="created_on_info_container">
        <label class="first_label">{{counter-styler model.views_count}} Views</label>  
      </div>
    </div>
    <div class="category_updated_on_container">
      <div class="category_info_container">
        <label class="first_label">Post Created on: {{createdDate}}</label>  
      </div>
      <div class="updated_on_info_container">
        <label class="first_label">Post Updated on: {{updatedDate}}</label>  
      </div>
    </div>
      <div class="genre_info_container">
        <label class="first_label"><label class="first_label"><a class="button_type1_normal" target="_blank" href="{{model.fact_link}}">Fact Link</a></label></label>
      </div>
      <div class="topic_info_container">
         <label class="first_label"><a class="button_type1_normal" target="_blank" href="{{model.fiction_link}}">Fiction Link</a></label>
      </div>
    </div>
  </div>
{{/if}}

<div class="post_text_container">
  {{{model.text}}}
</div>
{{render "post.comments.index" model}}
