<div class="sidebar_sub">
	<h5 class="tag_h5">Fact Types {{#link-to "factTypes.index"}}<img width="23px" height="23px" src="/assets/small_settings.png">{{/link-to}}</h5>
		{{#if showFTP}}
		<ul class="tag_listing">
			<li class="tag_listing_search">{{input value=factTypeInputText placeholder="Search Fact Type" class="factTypeInput"}}</li>
			{{#each filteredFactTypes as |factType|}}
				<li><button class="button_type1_fact_type" {{action "setFactType" factType}}>{{capitalize factType.name}}</button>  ({{factType.posts_count}})</li>
			{{/each}}
		</ul>
	{{/if}}
	<div class="button_toggler"><button class="button_bar" {{action "setFTPV"}}>{{#if showFTP}}Hide{{else}}Show{{/if}}</button></div>
</div>
