<!DOCTYPE html>
<html>
<head>
  <title>Fakktion</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "templates/all" %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/application/header" unless @hide_header %>
</head>

<body>
  <%= render partial: "layouts/shared/flash_messages" unless @hide_header %>
  <%= yield %>  
  <%= render partial: "layouts/shared/analytics" %>
</body>

<footer>
  <%= render partial: "layouts/application/footer" unless @hide_footer %>
</footer>
</html>
